#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1, h2, h4{
  color: #6C4D4E;
}

.card {
  padding: 2em;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 20px auto;
  max-width: 300px;
}

.cell {
  background-color: white;
  border: 1px solid #F58529;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  min-height: 54px;
  color: #F58529;
}

.action-button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #F58529;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.action-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;

}